// button animations

.form {
  .email {
    border: 1px solid $primary-red;
    background-color: transparent;
  }

  .form-button {
    transition: width $base-transition;
    transition-timing-function: ease;

    &:hover {
      opacity: 0.8;
      box-shadow: 0px 8px 7px $primary-red;
      width: 90px;
      transition: 0.3s;
    }

    &:not(:hover) {
      transition: $base-transition;
    }
  }
}
